{% extends 'templates/main.html' %}

{% block title %}Register{% endblock %}

{% block head %}
{% endblock %}

{% block content %}



<div class="row">
  
  <div class="medium-6 columns medium-centered">
  <h1>Register</h1>
    <form action="/register" method="post"> 
      
       <input type="text" name="username" placeholder="Username" value="{{user.username}}" style="max-width: 400px;"/> 
      
      <input type="password" name="password" placeholder="Password" value="" style="max-width: 400px;"/> 
      <input type="password" name="confirmPassword" placeholder="Confirm Password" value=""  style="max-width: 400px;"/> 

      <input type="text" name="email" placeholder="Email" value="{{user.email}}"  style="max-width: 400px;"/> 
      <input type="text" name="fullname" placeholder="Full Name" value="{{user.fullname}}"  style="max-width: 400px;"/>
      <input type="text" name="nickname" placeholder="Nickname" value="{{user.nickname}}"  style="max-width: 400px;"/> 

      <p style="margin-bottom: 0;">{{questions[qIndex].q}} (to verify you're human)</p>
      <input type="text" name="a" placeholder="Your answer" value="{{answer}}"  style="max-width: 400px;"/> 
      <input type="hidden" name="qIndex" value="{{qIndex}}"/> 

      <input type="submit" value="Register" class="small button"/>
    </form>

  </div>
  
  
</div>

{% endblock %}


